.top{
    width: 1350px;
    height: 100px;
    background-color: bisque;
}

   p{
    padding-left: 90px;
    padding-top: 40px;
   }
   .art{
    margin-top:-70px;
    padding-left: 300px;
    
   }
   h2{
    margin-top:-60px;
    padding-left: 600px;
    
   }
   h4{
    margin-top:-20px;
    padding-left: 600px;
    
   }
   .guid{
    margin-top:-70px;
    padding-left: 900px;
   }
   .saynab{
    margin-top:-70px;
    padding-left: 1060px;
   }
   .box1{
    width: 200px;
    height: 200px;
    background-color:blanchedalmond;
    margin-top: 60px;
    margin-left: 10px;
   }
   img{
    margin-left: 10px;
    margin-top: 200px;
    border: solid;
    border-color:aliceblue;
    width: 200px;
   }
   .box2 img{
    width: 200px;
    height: 400px;
    background-color:aliceblue;
    margin-top: -230px;
    margin-left: 300px;
   }
   p.new{
    margin-left: 300px;
    margin-top: 100px;
    width: 200px;
    height: 200px;
    background-color:aqua;
   }
   .box3{
    width: 200px;
    height: 200px;
    background-color:blanchedalmond;
    margin-top: -630px;
    margin-left: 800px;
   }
   .box3 img{
    margin-left: 10px;
    margin-top: 200px;
    border: solid;
    border-color:aliceblue;
    width: 200px;
    height: 400px;
   }